
.yewon_logo{
    font-family: 'Black Ops One', cursive;
}

.yewon_footer_button{
    font-size: .9rem;
}

.yewon_footer{
    text-align: center;
    margin-top: 2rem;
}

.yewon_header{
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
   }
}

a {
    color: black;
}

a:hover {
    color:black;
    text-decoration: none;
}

.yewon_header_nav {
    margin: 0 0.5rem;
}

.yewon_header_navbar {
    margin: 1rem 0;
}
