
.yewon_logo{
    font-family: 'Black Ops One', cursive;
}

.yewon_footer_button{
    font-size: .9rem;
}

.yewon_footer{
    text-align: center;
    margin-top: 2rem;
}

.yewon_header{
    text-align:center;
    margin: 2rem 0;
}