
    <div class="yewon_header">
        <div>
            <h1 class="yewon_logo">Yewon</h1>
        </div>
        <div class="yewon_header_navbar">
            <a href="{% url 'articleapp:list' %}" class="yewon_header_nav">
                <span>Articles</span>
            </a>
            <a href="{% url 'projectapp:list' %}" class="yewon_header_nav">
                <span>Projects</span>
            </a>
            <a href="{% url 'subscribeapp:list' %}" class="yewon_header_nav">
                <span>Subscription</span>
            </a>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="yewon_header_nav">
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:create' %}" class="yewon_header_nav">
                <span>SignUp</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}" class="yewon_header_nav">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="yewon_header_nav">
                <span>logout</span>
            </a>
            {% endif %}
        </div>
    </div>