{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

    .container div {
      width: 250px;
      height: 500px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1px;
    }

    .container img {
        width: 100%;
        border-radius: 1px;
}

</style>

    <div class="container">
        <div class="item1">
            <img src="https://picsum.photos/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/340" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/200" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/250" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/400" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/500" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/330" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/310" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/260" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/440" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/510" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/380" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/330" alt="">
        </div>
    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}
